<html>

<head>
  <!-- Generat Settings -->
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en-us">
  <base href="{global.baseUrl}" />

  <!-- META TAGS -->
  <title>{head.title} | {global.appName}</title>
  <meta name="description" conent="{head.description}">

  <!-- List the Static Assets-->
  <link type="image/x-icon" rel="icon" href="favicon.ico">
  <script type="text/javascript" charset="utf-8" href="public/app.js"></script>
  <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>

<body class="{body.class}">
  <!-- Page Wrapper-->
  <div class="wrapper">
    <!-- HEAD OF THE DOCUMENT-->
    <div class="header">
      <!-- LOGO-->
      <a href="/" class="logo"></a>
      <!-- Navigation-->
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a class="loggedOut" href="/">SingUp</a></li>
        <li><a class="loggedOut" href="/">LogIn</a></li>
        <li><a class="loggedIn" href="/">Dashboard</a></li>
        <li><a class="loggedIn" href="/">Account Settings</a></li>
        <li><a class="loggedIn" href="/">Logout</a></li>
      </ul>
    </div><!-- END OF Header-->
    <!-- Page Specific CONTENT-->
    <div class="content">