<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
  We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, we\'ll send you
  a text to let you know. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aut, a aspernatur omnis minima
  nisi ex alias quaerat inventore ab aperiam quas ad! Error temporibus ipsum adipisci eveniet vitae repudiandae
  voluptatem? Numquam praesentium et aspernatur eligendi iure cum provident autem, excepturi totam ut culpa a qui
  soluta sit. Vitae, alias.
</div>

<div class="ctaWrapper">
  <a href="account/create" class="cta green">Get Started</a>
  <a href="session/create" class="cta blue">LogIn</a>
</div>